/* Jashanpreet Kaur 8924394 */

body, h1, h2, p, blockquote, footer {
    margin: 0;
    padding: 0;
}

html{
    font: 20px/1.5 Arial, sans-serif;
    background-color: #f6f6f6;
}

#home-link{
    float:left;
    width: 50%;
}

#contact-link{
    float: right;
    width: 50%;
}

h1, h2, h3{
    font-variant: small-caps;
}

h3{
    text-align: center;
}

#quote{
    border: .25rem solid peachpuff;
    box-shadow: .5rem .5rem .5rem black;
    padding: 15px;
    width: 100%;
}

nav{
    background-color: #fefedf;
    padding: 0 2rem 2rem 2rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid #000;

}

nav ul{
    list-style-type: none;
    padding: 0.25rem;
    margin: 0 0.25rem;
}

nav>ul>li>a{
    color: #0081cf;
    background-color: #fefedf;
    display: block;
    text-decoration: none;
    border: 0.1rem solid #0081cf;
}

nav>ul>li>a:hover{
    color: #fff;
    background-color: #0081cf;
    border:0.1 rem solid #f6f6f6;
}


figcaption{
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1rem;
}

q {
    font-style: italic;
    font-family: cursive;
}

#q{
    clear: both;
}

footer p{
    font-size: 0.8rem;
}

body {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.main-section{
    text-align: center;
    padding: 20px;
}

#bio{
    text-align: left;
    float: left;
    width: 50%;
}

header, footer{
    border: 1px solid #151515;
    box-shadow: 2px 2px 5px #c2c2c2;
    text-align: center;
    font-size: x-large;
}

.main-section-figure{
    border: 1px solid saddlebrown;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #c2c2c2;
    margin: 10px auto;
}


.main-section-figure img{
    height: 60%;
    width: 60%;
    padding: 0.5rem;
    border-radius: 1rem;
}


figure{
    display: inline-block;
    border: 1px solid #151515;
    padding: 20px;
    margin: 0;
}

figcaption#absolute-path-image{
    color: #ffa500;
}

figcaption#relative-path-image{
    color: #eb69cd;
}

h1, h2, header, footer {
    color: #4d1003;
}

header, footer{
    background-color: #fefedf;
}


#relative-path-image{
    background-color: #0081cf;
    width: 40%;
    float: right;
    padding: 0px;
}

#video{
    width: 100%;
    height: 70%;
    border: .25rem solid peachpuff;
}

aside{
    margin: auto;
    padding: auto;
    float: right;
    width: 25%;
}

th{
    border: 1px solid #000;
    padding-left: 50px;
    padding-right: 50px;
    margin: 1px;
    font-size: 25px;
}


main{
    float: left;
    width: 60%;
}

footer{
    clear: both;
}

input[type=text], input[type=email], input[type=date], select, textarea, input[type=tel], input[type=url], input[type=submit], input[type=color]{
    width : 100%;
}

label, input[type=submit]{
    font-variant: small-caps;
    color : blue;
    font-weight: bold;
    font-size: 1rem;
}